form{
    width: 80%;
    margin-left: 8.333%;
    display: grid;
    grid-template-rows: 3rem;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    margin-bottom: 10rem;
}