footer{
    height: 100rem;
    background-color: $color-txt-secondary;
    overflow: hidden;
    .cover{
        height: 50rem;
        background-color: $color-grey;
        background-image: url(img/picture/cover.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .cta{
        padding: 0 4rem;
        height: 20rem;
        align-content: center;
        h2{
            color: $color-white;
            padding: 0 15px;
        }
        a{
            vertical-align: middle;
            button{
                color: $color-white;
                background-color: $color-black;
                transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);    
                &:hover{
                    color: $color-black;
                    background-color: $color-white;    
                }
            }
        }
    }

    .contact{
        height: 30rem;
        background-color: $color-black;
        background-image: url(img/element/grana.png);
        .contenuti{
            height: 20rem;
            padding: 10rem 4rem;
            img{
                height: 7rem;
                object-fit: contain;
            }
            a{
                padding: 0;
                .social{
                    margin: 0;
                    padding: 1rem 0;
                    height: 5rem;
                }
                p{
                    color: $color-white;
                    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
                    &:hover{
                        color: $color-txt-secondary;
                    }
                }
                h5{
                    color: $color-white;
                    &:hover{
                        color: $color-txt-secondary;
                    }
                }
                h6{
                    text-decoration: underline;
                    color: $color-white;
                    transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
                    font-weight: 400;
                    &:hover{
                        color: $color-txt-secondary;
                    }
                }
                br{
                    height: 1rem;
                }
            }
            .social-logo{
                height: 5rem;
            }
        }
    }
}

@media (max-width:999px){
    .cta{
        h2{
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 768px){
    footer{
        height: 80rem;    
        .cover{
            height: 20rem;
        }    
        .cta{
            padding: 0 3rem;
            height: 20rem ;    
            h2{
                padding: 4rem 0 3rem 0;
                margin-bottom: 0;
            }    
            a{
                padding: 0;    
                button{
                    margin: 0 0 2rem 0;
                }
            }
        }    
        .contact{
            height: 40rem;    
            .contenuti{
                height: 25rem;
                padding: 5rem 3rem;  

   
                a{
                    padding: 0; 
                    img{
                        height: 5rem;
                        object-fit: contain;
                        margin:1rem 0 5rem 0;
                    } 
                    p{
                        font-size: 1.4rem;
                    }
                    h6{
                        font-size: 1rem;
                    }                    
                    .social{
                        margin: 0;
                        height: 5rem;
                        margin-top: 1rem;
                    }    
                    h5{
                        margin-top: 1rem;
                    }
                } 
            }
        }
    }
}