.content{
    padding-top: 10rem;
    padding-bottom: 10rem;

    h2{
        color: $color-txt-secondary;
        margin-bottom: 5rem;
    }

    p{
        color: $color-black;
        margin-bottom: 5rem;
        padding: 0 15px;
    }
}