.single{

    .article-content{
        padding: 0;
        margin: 0;
    }
    .hero-single{
        background-color: $color-grey;
        height: 90vh;

        h1{
            color: $color-white;
            padding: 35rem 0 5rem 0;
        }       
    }
    .hero-content{

        .wp-block-columns{
            margin-left: 8.333%;
            margin-right: 3rem;

            p{
                margin-top: 5rem;
                font-size: 2rem;
    
                &:first-child{
                    margin-top: 10rem;
                }
            }
    
            a{
                margin-left: 8.333%;
                margin-right: 8.333%;
                margin-top: 10rem;
            }
            .wp-block-button__link{
                border-radius: 0;
                padding: 1.6rem 3.2rem;
                border: 0;    
            }
        }
        .wp-block-image{
            width: 80%;
        }
        figure{
            background-color: $color-txt-secondary;
            margin-top: 5rem;
            margin-bottom: 0;
            padding: 8.333%;

        }
        iframe{
            margin: 0;
            margin-bottom: 0;
            padding: 0;
            width: 100vw;
        }
        .bg__orange{
            background: $color-txt-secondary;
            margin: 0;
            padding-left: 8.33%;
            padding-right: 3rem;

            figure{
                margin-top: 10rem;
                margin-bottom: 10rem;
                padding: 0;

                td{
                    padding: 1rem;
                    color: $color-white;
                    font-size: 2rem;
                }
            }
        }
        .legenda{
            table{
                tbody{
                    tr{
                        td{
                            font-size: 1.2rem;
                            padding: 0.2rem 0 0 2rem;
                        }
                    }
                }
            }
        }
    }
    .banner1{
        margin-top: -0.3rem;
    }
}

@media (max-width:768px){
    .single{

        .hero-single{
            height: 80vh;

            h1{
                padding: 35rem 2rem 5rem 2rem;
            }
            svg{
                display: none;
            }    
        } 
        .hero-content{
           .wp-block-image{
                width: 100%;
                -ms-flex-order: 1;
            }
        }        
        .wp-block-buttons{
            .wp-block-button{
                text-align: left;
                .wp-block-button__link{
                    margin-left: 0;
                    margin-top: 2rem;
                }
            }
            .wp-block-columns{
                a{
                    margin-left: 0;
                }
            }
        }
        .legenda{
            td{
                min-width: 5rem !important;
                padding: 1rem 0 !important;
            }
        }
        .wp-container-6{
            .wp-block-table{
                margin-top: 0 !important;
            }
        }
    }
}