.carousel{
    height: 80rem;
    margin-top: 10rem;
    article{

        &:first-child{
            margin-left:8.333333%
        }
    }
    h2{
        color: $color-white;
    }
    button{
        color: $color-white;
        background-color: $color-black;
        transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover{
            background-color: $color-txt-secondary;
        }
    }
    .cards{
        margin-top: 10rem;

        .cards__slider{
            flex-wrap: nowrap;
        }

        article{
            height: 45rem;

            .card{
                background-color: $color-txt-secondary;
                height: 100%;

                .image{
                    height: 25rem;
                    overflow: hidden;

                    img{
                        width: 100%;
                        object-fit: contain;
                        transition: 0.6s all cubic-bezier(0.075, 0.82, 0.165, 1);
                    }
                }
                
                &:hover{
                    img{
                        width: 130%;
                    }
                }
                
                .text{
                    height: 20rem;
                    padding: 2rem;

                    h4, a{
                        font-family: $font-family-primary;
                        color: $color-white;
                    }
                    
                    h4{
                        text-transform: uppercase;
                        margin-bottom: 2rem;
                    }

                    p{
                        color: $color-white;
                        margin-bottom: 2rem;
                    }

                    .read-more{
                        text-decoration: underline;
                    }

                    .text-content{
                        padding-right: 2rem;
                        position: absolute;
                        bottom: 3rem;
                    }
                }
            }
        }
    }
    .carousel__button{
        margin-top: 2rem;

    }
}

@media (max-width:768px){
    .carousel{
        height: 80rem;
        margin-top: 5rem;
        padding: 0 2rem;

        h2{
            margin-bottom: 3rem;
        }
        .cards{
            margin-top: 5rem;
    
            article{
                height: 45rem;

                &:first-child{
                    margin-left: 0;
                }    
                .card{    
                    .image{ 
                        max-height: 60%;   
                        img{
                            height: 30rem;
                            object-fit: cover;
                        }
                    }
                } 
            }
        }
        .carousel__button{
            text-align: right;    
        }
    }

}