button{
    padding: 1.6rem 3.2rem;
    border: 0;
    cursor: pointer;
    color: $color-white;
    background-color: $color-sfondo;
}

.container-fluid{
    padding: 0;
}

.ml-fluid{
    margin-left: calc( ( (100vw - 1140px) + 6px ) / 2 );
}
