.hero{
    height: 90vh;
    margin: 0;
    background-color: $color-grey;

    h1{
        color: $color-white;
        margin-top: 30rem;
        margin-bottom: 10rem;
    }
}

.why{

    .why-content{

        margin-top: 10rem;
        margin-bottom: 10rem;
        height: 45rem;
    
        h2{
            padding: 0 15px;
            margin-top: 10rem;
            color: $color-white;
        }

        .btn{      
            margin-top: 5rem;

            button{
                background-color: $color-black;
                color: $color-white;
                transition: 0.4s all cubic-bezier(0.075, 0.82, 0.165, 1);
        
                &:hover{
                    background-color: $color-txt-secondary;
                }
            }
        }

        img{
            width: 100%;
        }
    }
}
