.hero-page{

    background-color: $color-sfondo;
    height: 100%;
    margin: 0;
    
    h1{
        color: $color-txt-secondary;
        margin-top: 20rem;
        margin-bottom: 5rem;
        padding-right: 4rem;
    }
    h4{
        color: $color-black;
        margin-bottom: 10rem;
    }
    .parentesi{
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}


@media (max-width: 768px){

    .hero-page{
      
        h1{
            font-size: 4.2rem;
            margin-left: 2rem;
            margin-top: 20rem;
        }
        h4{
            margin-bottom: 10rem;
            padding: 0 4rem;
        }
        ul{
            margin: 0 3rem;

            li{
                font-size: 1.2rem;
            }
        }
        .parentesi{
            display: none;
        }
    }

}