
/* Liberator light */
@font-face {
    font-family: 'Liberator';
    font-style: normal;
    font-weight: 400;
    // src: url('font/Liberator-Light.ttf');
    src: local(''),
         url('font/Liberator-Light.otf') format('otf'), 
         url('font/Liberator-Light.ttf') format('ttf')
         url('font/Liberator-Light.woff') format('woff'),
  }

  /* Liberator Medium */
@font-face {
    font-family: 'Liberator';
    font-style: normal;
    font-weight: 600;
    // src: url('font/Liberator-Medium.ttf');
    src: local(''),
         url('font/Liberator-Medium.otf') format('otf'), 
         url('font/Liberator-Medium.ttf') format('ttf'),
         url('font/Liberator-Medium.woff') format('woff'),
  }

/* Liberator Heavy */
@font-face {
    font-family: 'Liberator';
    font-style: normal;
    font-weight: 800;
    // src: url('font/Liberator-Heavy.ttf');
    src: local(''),
         url('font/Liberator-Heavy.otf') format('otf'), 
         url('font/Liberator-Heavy.ttf') format('ttf'),
         url('font/Liberator-Heavy.woff') format('woff'),
  }


/* Source Sans Pro Light */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  // src: url('font/SourceSansPro-Light.ttf');
  src: local(''),
       url('font/SourceSansPro-Light.ttf') format('ttf'),
       url('font/SourceSansPro-Light.woff') format('woff'),
}

/* Source Sans Pro */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  // src: url('font/SourceSansPro-Regular.ttf');
  src: local(''),
       url('font/SourceSansPro-Regular.ttf') format('ttf'),
       url('font/SourceSansPro-Regular.woff') format('woff'),
}

/* Source Sans Pro SemiBold */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  // src: url('font/SourceSansPro-emiBold.ttf');
  src: local(''),
       url('font/SourceSansPro-emiBold.ttf') format('ttf'),
       url('font/SourceSansPro-emiBold.woff') format('woff'),
}